{{#partial "content"}}
    <section class="container">
        <table class="table table-bordered">
            <thead class="thead-cyan">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="font-weight-weight">
            </tbody>
        </table>
    </section>
{{/partial}}