{{#partial "content"}}

    <p class="text-center  pt-5 jumbotron" id="center-style">
        Wildlife app is a web application for The Forest Service to carry out data collection on endangered
        animals and non-endangered animals, vis a vis their location. The application helps track the times of sightings
        and the time the sighting was done.
    </p>


{{/partial}}
{{>layout.hbs}}