{{#partial "content"}}

    <p class="text-center  pt-5 jumbotron" id="center-style">
        An app that simplifies your tracking levels for endangered animal species.
    </p>


{{/partial}}
{{>layout.hbs}}